{
  "presets": ["next/babel"],
  "plugins": [
    ["emotion"],
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "jsx", "bash"],
        "plugins": ["line-numbers"],
        "theme": "okadia",
        "css": false
      }
    ]
  ]
}
